body {
  font-family: futura, serif;
  background-color: #263746;
  color: #CACACA;
}

.container-fluid {
  max-width: 100vw;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-color: #263746;
  height: 800px;
  color: #CACACA;

}

.header {
   width: 68vw;
   display: flex;
   justify-content: space-between;
   margin: 20px 0 75px 0;
}

p, a {
  font-family: futura, serif;
  
}

a {
  font-weight: 400;
}

.projects {
  color: rgb(65, 143, 222);
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
}

.material-icons.md-17 { 
  font-size: 17px;
  margin: 0;
  padding: 0; }

.nav-wrapper {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center; 
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header img {
  max-width: 150px;
  justify-content: flex-start;
  margin: 30px 0 30px 0;
}

.header  h1 {
  font-family: warnock-pro, serif;
  font-size: 40px;
  padding: 20px 0 20px 0;
}

.sub-header{
  width: 68vw;
  font-family: warnock-pro, serif;
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.container {
  width: 65vw;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px #263746;
}

.container h1 {
  color: #263746;
  padding-left: 20px;
  font-family: futura, serif;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.container-nav {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
  color: rgb(65, 143, 222);
}

.button-download {
  background-color:none;
  border: 2px solid rgb(65, 143, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.btn {
  color: rgb(65, 143, 222);
  font-family: futura, serif;
}

.button-download:hover {
  background-color: #CACACA;
  color: white;
}


.btn.cost-button:hover {
  background-color: #CACACA;
  color: white;
}


.chartdiv {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  font-family: futura, serif;
  display: flex;
  justify-content: center;
}

.chartdiv img {
  max-width: 100%;
  max-height: 100%;
}

.table-container {
  justify-content: flex-start;
}

.cost-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.table {
  color: #263746;
  font-family: futura, serif;
  margin: 20px;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}


.column-wrapper {
  width: 65vw;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


tr {
 text-align: right;
}

.section-box {
  width: 30%;
  height: 200px;
  background-color:  #fff;
}


